.box{
    height: 100px;
    width: 300px;
    font-size: 30px;
    border: 2px solid red;
    text-align: center;
    box-shadow: 2px 2px 5px red;
    text-shadow: 3px 7px 2px grey;
    transition-property: width;
    transition-duration: 5s;
    /* transition-delay: 2s; */
    transition-timing-function: ease-in;
}
.box:hover{
    width: 800px;
}
.box2{
    height: 100px;
    width: 300px;
    border: 2px solid red;
    transition-property: transform;
}
.box2:hover{
    /* transform: scaleX(2);
    transform: scaleY(2); */
    transform: scale(2,2);
}
.box3{
    height: 100px;
    width: 300px;
    border: 2px solid red;
    transition-property: transform;
}
.box3:hover{
    /* transform: skewX(20deg);
    transform: skewY(20deg); */
    transform: skew(20deg, 20deg);
}
.box4{
    height: 100px;
    width: 300px;
    font-size: 30px;
    border: 2px solid red;
    transition-property: transform;
    transition-duration: 2s;
}
.box4:hover{
    /* transform: rotateX(60deg);
    transform: rotateY(50deg); */
    transform: rotate(360deg);
}
#r{
    border: 2px solid red;
    margin-top: 20%;
    margin-left: 40%;
}
.box6{
    width: 350px;
    height: 350px;
    background-color: yellow;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.box7{
    width: 300px;
    height: 400px;
    background-color: green;
}